{{ partial "header.html" . }}

<div class="container single">
<main>
{{ if .Draft }}
<div class="watermark">Draft</div>
{{ end }}

<h1><span class="title">{{ .Title }}</span></h1>

<div class="article-meta">
  {{ with .Params.author }}
  <div class="meta-col">
    {{ if and (reflect.IsSlice .) (gt (len .) 1) }}
    <span class="meta-label">Authors:</span>
    <span class="meta-value">{{ delimit . (default " / " $.Site.Params.authorDelimiter) }}</span>
    {{ else }}
    <span class="meta-label">Author:</span>
    <span class="meta-value">{{ if reflect.IsSlice . }}{{ index . 0 }}{{ else }}{{ . }}{{ end }}</span>
    {{ end }}
  </div>
  {{ end }}
  {{ if .Params.date }}
  <div class="meta-col">
    <span class="meta-label">Published:</span>
    <time class="dateline" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
  </div>
  {{ end }}
  {{ if .Lastmod.After .Date }}
  <div class="meta-col">
    <span class="meta-label">Revised:</span>
    <time class="dateline" datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time>
  </div>
  {{ end }}
</div>

<p class="terms">
  {{ range $i := (slice "categories" "tags") }}
  {{ with ($.Param $i) }}
  {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
  {{ end }}
  {{ end }}
</p>

<div class="article">
{{ .Content }}
</div>
</main>

{{ partial "appendix.html" . }}

{{ if .Section }}
<nav class="post-nav">
  <span class="nav-next">{{ with .PrevInSection }}&larr; <a href="{{ .RelPermalink }}" title={{ i18n "nextPost" }}>{{ .Title }}</a>{{ end }}</span>
  &hercon;
  <span class="nav-prev">{{ with .NextInSection }}<a href="{{ .RelPermalink }}" title={{ i18n "previousPost" }}>{{ .Title }}</a> &rarr;{{ end }}</span>
</nav>
{{ end }}
</div>

{{ $.Scratch.Set "has_appendix" true }}
{{ partial "footer.html" . }}
